<div class="custom-gallery-row">
  {% include 'gallery-item', test_text: 'Item 1', image: block.settings.image-1 %}  
  {% include 'gallery-item', test_text: 'Item 2', image: block.settings.image-2 %}  
  {% include 'gallery-item', test_text: 'Item 3', image: block.settings.image-3 %}  
  {% include 'gallery-item', test_text: 'Item 4', image: block.settings.image-4 %}  
</div>