

// TABS
$unselected-tab-border-bottom: #acacac;
$tab-padding-bottom: 6px;
$unselected-tab-border-width: 2px;
$active-tab-border-width: 3px;
$tab-margin: $active-tab-border-width - $unselected-tab-border-width;

ul.product-tabs {
  display: block;
  margin: 0 0 20px;
  padding: 0;
}

ul.product-tabs li {
  display: block;
  float: left;
  height: 30px;
  margin-top: 10px;
  padding: 0;
  width: auto;
}

ul.product-tabs li a {
  display: block;
  font-size: 15px;
  padding: 0 15px;
  padding-bottom: $tab-padding-bottom + $tab-margin;
  text-decoration: none;
  width: auto;
  color: black;
  border-bottom: $unselected-tab-border-width solid $unselected-tab-border-bottom;
}

ul.product-tabs li a.active {
  color: #686868;
  border-bottom: $active-tab-border-width solid black;
  position: relative;
  padding-bottom: $tab-padding-bottom;
}

ul.product-tabs li:first-child a {
  padding-left: 0;
}

ul.product-tabs:before,
ul.product-tabs:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
ul.product-tabs:after {
  clear: both;
}

// Login customization

.customer-form-container {
  margin: 0 auto;
}

.links-under-submit-button {
  margin-top: 45px;
}

#register-newsletter-container {
  margin-bottom: 30px;
}

.label-checkbox {
  display: inline;
}

#register-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.log-in-icon {
  margin-right: 3px
}

.product-image-test {
  height: 300px;
  object-fit: cover;
}

.product-image-test:after {
  content: '';
  display: block;
  padding-bottom: 100%
}

.menu-wrapper {
	position: relative;
	max-width: 500px;
	height: 100px; // hide the scroll bar
	margin: 1em auto;
	border: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
}

.menu	{
	height: 120px; // hide the scroll bar
	background: #f3f3f3;
	box-sizing: border-box;
	
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	
	.item {
		display: inline-block;
		width: 100px;
		height: 100%;
		outline: 1px dotted gray;
		padding: 1em;
		box-sizing: border-box;
	}
}

.paddles {
}
.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.hidden {
	display: none;
}

.print {
	margin: auto;
	max-width: 500px;
	
	span {
		display: inline-block;
		width: 100px;
	}
}

.product-image-link {
  padding: 10px
}

.slick-prev:before, .slick-next:before {
  color:black !important;
} 