<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
      <h1>Hello! My name is Elder Price</h1>
    </div>

    {% section 'custom-blocks-above' %}

    <div class="rte">
      {{ page.content }}
    </div>

    {% section 'custom-blocks-below' %}

  </div>

</div>